flask==3.0.2
flask-socketio==5.3.6
python-socketio==5.11.1
python-engineio==4.9.0
gunicorn==21.2.0
azure-cognitiveservices-speech==1.35.0
python-dotenv==1.0.1
azure-identity==1.15.0
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.19.0
azure-cosmos==4.5.1
azure-search-documents==11.4.0
azure-ai-formrecognizer==3.3.0
azure-ai-textanalytics==5.3.0
azure-ai-translation-document==1.0.0
azure-ai-language-conversations==1.1.0
azure-ai-personalizer==1.0.0b1
azure-ai-metricsadvisor==1.0.0b4
azure-ai-anomalydetector==3.0.0b4
azure-ai-contentsafety==1.0.0
azure-ai-generative==1.0.0b1
azure-ai-ml==1.12.0
azure-ai-documentintelligence==1.0.0
azure-openai==1.0.0b1

